<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Persons</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
<link rel="stylesheet" href="../css/shards.min.css">
</head>
<body>
<div class="jumbotron text-center">
  <h1>Person Found Page</h1>
</div>
	<div th:switch="${person}" class="container my-6">
		<div class="row d-flex justify-content-center">
			<div class="col-md-7">
				<h2 th:case="null">No data Found!</h2>
				<div th:case="*">
					<table class="table table-striped table-responsive-md">
						<thead>
							<tr>
								<th>ID</th>
								<th>Name</th>
								<th>Address</th>
								<th>Age</th>
								<th>Edit</th>
								<th>Delete</th>
							</tr>
						</thead>
						<tbody>
							<tr >
								<td th:text="${person.id}"></td>
								<td th:text="${person.name}"></td>
								<td th:text="${person.address}"></td>
								<td th:text="${person.age}"></td>
								<td><a th:href="@{/edit/{id}(id=${person.id})}"
									class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a></td>
								<td><a th:href="@{/delete/{id}(id=${person.id})}"
									class="btn btn-primary"><i class="fas fa-user-times ml-2"></i></a></td>
							</tr>
						</tbody>
					</table>
				</div>
				<p class="my-6">
					<a href="/" class="btn btn-secondary">Back Home</a>
				</p>
			</div>
		</div>
	</div>
</body>
</html>
